/**
 * Lightcase Settings

 * Note: Override default settings for your project without touching this source code by simply
 * defining those variables within a map called $lightcase-custom.
 *
 * // Example
 * $lightcase-custom: (
 *   'key': 'value';
 * );
 */
$lightcase-default: (
  'breakpoint': 641px,
  'overlayColor': #333
);

$lightcase-custom: ()!default;
$lightcase-settings: map-merge($lightcase-default, $lightcase-custom);