@media screen {

  #lightcase-case {
    display: none;

    position: fixed;
    z-index: 1002;
    top: 50%;
    left: 50%;
  }

}

@media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {

  #lightcase-case {
    // Not type: image, video, flash or error
    &:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) {
      @include debase(true);
    }

    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;

    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

}

@media screen and (min-width: #{map-get($lightcase-settings, 'breakpoint')}) {

  #lightcase-case {
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;

    color: #aaa;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

}