@media screen {}

@media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {

  #lightcase-nav .lightcase-icon-close {
    position: absolute;
    z-index: 9997;
    top: 15px;
    right: 15px;

    opacity: 0;
  }

}

@media screen and (min-width: #{map-get($lightcase-settings, 'breakpoint')}) {

  #lightcase-nav a.lightcase-icon-close {
 		position: fixed;
 		z-index: 9997;

 		top: 15px;
 		right: 15px;

 		outline: none;
 	}

}