@media screen {

  // For mobile (touch) devices
  .lightcase-isMobileDevice {
    #lightcase-case .lightcase-inlineWrap,
    #lightcase-case[data-lc-type=iframe] .lightcase-contentInner {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

}

@media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {

  #lightcase-case {

    .lightcase-content {
      // Content - Extend with further selectors and colors in case you
      // have elements like <ul>, <li>, <span> or similar displayed in lightcase.
      h1,h2,h3,h4,h5,h6,p {
        color: #aaa;
      }
    }

    // Not type: image, video, flash or error
    &:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) {
      .lightcase-content,
      .lightcase-inlineWrap {
        @include debase(true);
      }

      .lightcase-content {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;

        .lightcase-contentInner {
          padding: 15px;

          &, & > * {
            width: 100% !important;
            max-width: none !important;
          }

          // Set auto height to each element except iframes, because of that
          //those cannot have a natural/native height and it must be especially defined.
          & > *:not(iframe) {
            height: auto !important;
            max-height: none !important;
          }
        }
      }
    }
  }

}

@media screen and (min-width: #{map-get($lightcase-settings, 'breakpoint')}) {

  #lightcase-case {

    .lightcase-content {
      // Content - Extend with further selectors and colors in case you
      // have elements like <ul>, <li>, <span> or similar displayed in lightcase.
      h1, h2, h3, h4, h5, h6, p {
        color: #333;
      }
    }

    // Not type: error
    &:not([data-lc-type=error]) {
      .lightcase-content {
        position: relative;
        z-index: 1;
        overflow: hidden;

        text-shadow: none;

        background-color: #fff;

        -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 30px rgba(0,0,0,0.5);
        -o-box-shadow: 0 0 30px rgba(0,0,0,0.5);
        box-shadow: 0 0 30px rgba(0,0,0,0.5);

        -webkit-backface-visibility: hidden;
      }
      .lightcase-inlineWrap {
        padding: 30px;

        overflow: auto;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
      }
    }

    // Type: image + video
    &[data-lc-type=image],
    &[data-lc-type=video] {
      .lightcase-content {
        background-color: #333;

        .lightcase-contentInner {
          line-height: 0.75;
        }
      }
    }

  }

}