@media screen {}

@media screen and (max-width: #{map-get($lightcase-settings, 'screen-sm-max')}) {

  #lightcase-case p.lightcase-error {
    padding: 30px 0;
    font-size: 17px;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #aaa;
  }

}

@media screen and (min-width: #{map-get($lightcase-settings, 'screen-md-min')}) {

  #lightcase-case p.lightcase-error {
    margin: 0;
    padding: 0;

    font-size: 17px;
    color: #aaa;
  }

}