[class*='lightcase-icon-'] {
  width: 1.123em;
  height: auto;

  /*
   * For adjusting the icon size, just change the
   * value for "font-size" here!
   */
  font-size: 38px;
  line-height: 1;

  text-align: center;
  text-shadow: none;

  &, &:focus {
    position: fixed;
    z-index: 9999;

    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-transition: color, opacity, ease-in-out 0.25s;
    -moz-transition: color, opacity, ease-in-out 0.25s;
    -o-transition: color, opacity, ease-in-out 0.25s;
    transition: color, opacity, ease-in-out 0.25s;
  }

  &:hover {
    color: rgba(255, 255, 255, 1);
  }

  & > span {
    display: inline-block;
    text-indent: -9999px;
  }

}