#lightcase-info {
  /*
   * You can change to position "static" or "relative" instead, but consider
   * that this height will be integrated and calculated
   * to the maximum height additionally to the image height.
   */
  position: absolute;

  padding-top: 15px;

  #lightcase-title,
  #lightcase-caption,
  #lightcase-sequenceInfo {
    color: #aaa;
  }

  #lightcase-title,
  #lightcase-caption {
    margin: 0;
    padding: 0;

    font-size: 17px;
    line-height: 1.5;
    font-weight: normal;
    text-overflow: ellipsis;
  }

  #lightcase-caption {
    clear: both;
    font-size: 13px;
  }

  #lightcase-sequenceInfo {
    font-size: 11px;
  }

  #lightcase-title {
    @media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {
      position: fixed;
      top: 10px;
      left: 0;
      padding: 5px 15px;
      background: rgba(51, 51, 51, 0.9);
    }
  }

  @media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {
    padding-left: 15px;
    padding-right: 15px;

    // Not type: image, video, flash or error
    #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) & {
        position: static;
    }
  }
}