@media screen {

  #lightcase-loading {
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;

    margin-top: -0.5em;
    margin-left: -0.5em;

    opacity: 1;

    font-size: 32px;

    /* Fixes the icon wobble issue in firefox */
    -moz-transform-origin: 50% 53%;

    -webkit-animation: lightcase-loading-spin 0.5s infinite linear;
    -moz-animation: lightcase-loading-spin 0.5s infinite linear;
    -o-animation: lightcase-loading-spin 0.5s infinite linear;
    animation: lightcase-loading-spin 0.5s infinite linear;
  }

}

@media screen and (max-width: #{map-get($lightcase-settings, 'screen-sm-max')}) {

  #lightcase-loading {
    color: #aaa;
  }

}

@media screen and (min-width: #{map-get($lightcase-settings, 'screen-md-min')}) {

  #lightcase-loading {
    color: #fff;
    text-shadow: 0 0 15px #fff;
  }

}