#lightcase-nav {

  // For small breakpoint show navigation buttons at the bottom of the page
  // and with an extra background.
  .lightcase-open &[data-lc-ispartofsequence]:before {
    @media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {
      content: '';
      position: fixed;
      z-index: 9998;
      right: 0;
      bottom: 0;
      left: 0;
      height: 55px;

      background: rgba(60,60,60,0.9);
    }
  }

  // Generic styles for all navigation links
  a[class*='lightcase-icon-'] {
    @include icon();

    outline: none;
    cursor: pointer;

    // Default hover state
    &:hover {
      color: rgba(255, 255, 255, 1);
      text-shadow: 0 0 15px #fff;
    }
    // Hover state for mobile (touch) devices
    .lightcase-isMobileDevice & {
      &:hover {
        color: #aaa;
        text-shadow: none;
      }
    }

    // Prev button
    &.lightcase-icon-prev {
      left: 15px;
    }

    // Next button
    &.lightcase-icon-next {
      right: 15px;
    }

    // Play/Pause button
    &.lightcase-icon-pause,
    &.lightcase-icon-play {
      left: 50%;
      margin-left: -0.5em;

      @media screen and (min-width: #{map-get($lightcase-settings, 'breakpoint')}) {
        opacity: 0;
      }
    }

    // Close button
    &.lightcase-icon-close {
      z-index: 9997;
      top: 15px;
      right: 15px;
      margin: 0;
      opacity: 0;

      @media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {
        position: absolute;
      }

      @media screen and (min-width: #{map-get($lightcase-settings, 'breakpoint')}) {
        position: fixed;
        outline: none;
      }
    }

    @media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {
      position: fixed;
      z-index: 9999;
      bottom: 15px;
      font-size: 24px;
    }

    @media screen and (min-width: #{map-get($lightcase-settings, 'breakpoint')}) {
      bottom: 50%;
      margin-bottom: -0.5em;

      &:hover,
      #lightcase-case:hover ~ & {
        opacity: 1;
      }
    }
  }
}