@media screen {

  // For mobile (touch) devices
  .lightcase-isMobileDevice {
    #lightcase-nav a:hover {
      color: #aaa;
      text-shadow: none;
    }
  }

}

@media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {

  #lightcase-nav {

    .lightcase-open &[data-lc-ispartofsequence]:before {
      content: '';
      position: fixed;
      z-index: 9998;
      right: 0;
      bottom: 0;
      left: 0;
      height: 55px;

      background: rgba(60,60,60,0.9);
    }

    a {
      position: fixed;
      z-index: 9999;
      bottom: 15px;

      outline: none;
      cursor: pointer;
      font-size: 24px;

      &:hover {
        text-shadow: 0 0 15px #fff;
      }

      // Icon positioning
      &.lightcase-icon-pause,
      &.lightcase-icon-play {
        left: 50%;
        margin-left: -0.5em;
      }
      &.lightcase-icon-prev {
        left: 15px;
      }
      &.lightcase-icon-next {
        right: 15px;
      }
    }

  }

}

@media screen and (min-width: #{map-get($lightcase-settings, 'breakpoint')}) {

  #lightcase-nav {

    a {
      bottom: 50%;
      margin-bottom: -0.5em;

      outline: none;
      cursor: pointer;

      &:hover {
        text-shadow: 0 0 15px #fff;
      }
      &:hover,
      #lightcase-case:hover ~ & {
        opacity: 1;
      }

      &.lightcase-icon-close {
        margin: 0;
      }
      &.lightcase-icon-close,
      &.lightcase-icon-play,
      &.lightcase-icon-pause {
        opacity: 0;
      }

      // Icon positioning
      &.lightcase-icon-play,
      &.lightcase-icon-pause {
        left: 50%;
        margin-left: -0.5em;
      }
      &.lightcase-icon-prev {
        left: 15px;
      }
      &.lightcase-icon-next {
        right: 15px;
      }
    }

  }

}