#lightcase-overlay {
  display: none;
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;

  background: #{map-get($lightcase-settings, 'overlay-color')};

  @media screen and (max-width: #{map-get($lightcase-settings, 'breakpoint')-1}) {
    opacity: 1 !important;
  }
}